# conda create -n videomae python=3.10 -y

#python==3.10.*
numpy==1.21.6
torch==1.13.1
torchvision==0.14.1
timm==0.4.12
einops
tensorboardX
decord
opencv-python==4.7.0.72
pandas==1.3.5
scipy==1.7.3
scikit-learn==1.0.2
